<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">

<!--
  - MIT License
  - 
  - Copyright (c) 2016 Thiago Alves
  - 
  - Permission is hereby granted, free of charge, to any person obtaining a
  - copy of this software and associated documentation files (the "Software"),
  - to deal in the Software without restriction, including without limitation
  - the rights to use, copy, modify, merge, publish, distribute, sublicense,
  - and/or sell copies of the Software, and to permit persons to whom the
  - Software is furnished to do so, subject to the following conditions:
  - 
  - The above copyright notice and this permission notice shall be included in
  - all copies or substantial portions of the Software.
  - 
  - THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
  - IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
  - FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
  - AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
  - LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING
  - FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER
  - DEALINGS IN THE SOFTWARE.
  -->

<plist version="1.0">
  <dict>
    <key>Label</key>
    <string>environment.setup</string>
    <key>ProgramArguments</key>
    <array>
      <string>sh</string>
      <string>-c</string>
      <string>
        launchctl setenv USER_LOCAL_HOME ~/.local

        launchctl setenv XDG_CONFIG_HOME ~/.config
        launchctl setenv XDG_DATA_HOME ~/.local/share
        launchctl setenv XDG_RUNTIME_DIR ~/.local/var
        launchctl setenv XDG_CACHE_HOME ~/.local/var/cache
        launchctl setenv XDG_LOG_HOME ~/.local/var/log
        launchctl setenv XDG_PACKAGE_HOME ~/.local/opt
        launchctl setenv XDG_TEMP_HOME ~/.local/tmp

        launchctl setenv ZDOTDIR ~/.config/zsh
        launchctl setenv TMUXDIR ~/.config/tmux
        launchctl setenv ITERMDIR ~/.config/iterm2
        launchctl setenv GNUPGHOME ~/.config/gnupg
        launchctl setenv HOMEBREW_HOME /usr/local

        launchctl setenv JAVA_HOME ~/.local/opt/jenv/versions/1.8
        launchctl setenv ANDROID_HOME /usr/local/share/android-sdk
      </string>
    </array>
    <key>RunAtLoad</key>
    <true/>
  </dict>
</plist>
